---
# Common tasks for all platforms

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.ssh"
    state: directory
    mode: "0700"

- name: Configure Git user name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ git_user_name }}"

- name: Configure Git user email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ git_user_email }}"

- name: Configure Git default branch
  community.general.git_config:
    name: init.defaultBranch
    scope: global
    value: main

- name: Configure Git pull strategy
  community.general.git_config:
    name: pull.rebase
    scope: global
    value: "false"

- name: Check if dotfiles repository exists
  ansible.builtin.stat:
    path: "{{ dotfiles_dest }}"
  register: dotfiles_dir

- name: Clone dotfiles repository
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_dest }}"
    version: main
    update: yes
  when: not dotfiles_dir.stat.exists
  ignore_errors: yes

- name: Create common directories
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - .config
    - .local/bin
    - projects
    - workspace

- name: Ensure zsh is available
  ansible.builtin.package:
    name: zsh
    state: present
  become: yes
  when: default_shell == 'zsh'

- name: Check if Oh My Zsh is installed
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.oh-my-zsh"
  register: ohmyzsh_dir

- name: Install Oh My Zsh
  ansible.builtin.shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
  when: not ohmyzsh_dir.stat.exists
  args:
    creates: "{{ ansible_env.HOME }}/.oh-my-zsh"

- name: Change default shell to zsh
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh
  become: yes
  when: default_shell == 'zsh'
  ignore_errors: yes
