---
- name: Update APT cache (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Install APT packages (Debian/Ubuntu)
  ansible.builtin.apt:
    name: "{{ (os_linux_apt_packages_vm if os_linux_machine_profile == 'vm' else os_linux_apt_packages) }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Update DNF cache (Fedora/RHEL)
  ansible.builtin.dnf:
    update_cache: true
  become: true
  when: ansible_facts['os_family'] == 'RedHat'

- name: Install DNF packages (Fedora/RHEL)
  ansible.builtin.dnf:
    name: "{{ (os_linux_dnf_packages_vm if os_linux_machine_profile == 'vm' else os_linux_dnf_packages) }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == 'RedHat'

- name: Check if Snap is available
  ansible.builtin.command: which snap
  register: os_linux_snap_check
  ignore_errors: true
  changed_when: false

- name: Install Snap packages (if any)
  community.general.snap:
    name: "{{ item.name }}"
    classic: "{{ item.classic | default(false) }}"
    state: present
  become: true
  loop: "{{ os_linux_snap_packages }}"
  when:
    - os_linux_snap_check.rc == 0
    - os_linux_snap_packages | length > 0
